body {
    -moz-animation: random 20s infinite;
    -webkit-animation: random 20s infinite;
    animation: random 20s infinite;
    background-color: #5A005A; /*Xereus Purple*/
    font-family: 'Roboto', cursive;
}

span{
    background-color: white;
    border-radius: 0.2em;
    font-size: 2em;
    text-align: center;
}

@keyframes random {
    15% {
        background-color: #12c2e9; /*Mephiston Red*/
    }
    45% {
        background-color: #c471ed; /*Caliban Green*/
    }
    60% {
        background-color: #f64f59;/*Yriel Yellow*/
    }
    75% {
        background-color: #FFFFFF; /*Macraage Blue*/
    }
}

input {
    border-color: white;
    font-size: 2em;
    border-radius: 0.5em;
    font-family: 'Roboto', cursive;
}

button {
    background-color: #f64f59; /*Warpfiend Grey*/
    border-color:  #f64f59; /*Warpfiend Grey*/
    border-radius: 0.5em;
    color: White;
    font-family: 'Roboto', cursive;
    font-size: 1.80em;
}

.name{
    width:8em;
}
